button{
    background:transparent;
    color:  'white';
    border:'none';
    border-radius: 8px;
    font-family: cursive;
}
button:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}