a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav {
    margin-left: -70px;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}
