#switch{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 30px;
}
#switch button{
    margin: 50px;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}